table{
    width: 100%;
    }

td, th{
    text-align: center;
    padding: 5px;
}

tr:hover{
    background-color: rgba(55, 117, 179, 0.52);
}

.editar{
    background-color: rgba(255, 0, 0, 0.4);
}
